/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }

body {
    background-color: #232323;/*sfondo grigio*/
    font-family: 'Roboto', sans-serif;
}
.image{ 
    border-radius: 5px;
 }

/*struttura contenitore principale*/
.container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 44.3vw;
    margin: 0 auto;
    padding: 0px 4.7vw 0.32vh 4.7vw;
}

header img {
    height: 4.8vh;
}

.navigation {
    line-height: 3vh;    
}

.navigation a {
    margin-bottom: 0.16vh solid;
    text-decoration: none;
    font-size: 1.12vh;
    color:#939393;
}

.navigation a:hover {
    color:black;
    cursor: url(../img/cursor.cur) 16 16,auto;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;                                         
}

header {
    /*background-color: #ef1beb; colore box header*/
    margin-bottom: 12px;
    height : 50px;
}

.first {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 1.9vh;    
    height: 32vh;
}


.first .text {
    line-height: 2.4vh;
    font-size: 1.9vh;
    width:50%;
    color: white;
    position: absolute;
    bottom: 4vh;
    left: 1.1vw;
}

.first .text h6{
    font-size:  1.12vh;
    font-weight: 100;
}

main {
    /*background-color: #654aff; colore box main*/
    margin-bottom: 7vh;
}

/*CLEARFIX*/
.clearfix::after { 
    /*background-color: #654aff;*/
    content: '';
    display: table;
    clear: both;    
}

.contenuto {
    font-size:10px; 
    /*background-color: #acc9ea;*/
    margin-bottom: 1.6vh ;
    height : 5.6vh;
    color:lightgray;
}
 
.contenuto h2 {
    color:black;
    line-height:2.4vh;
} 

.contenuto h3 {
    color:black;
    line-height:2.4vh;
} 

/*float*/
.left, .center, .right {
    color:#a1a1a1; /*colore colonne*/
    font-size: 1.12vh;
    height: 33.54vh;
    width: 6.9vw;
    float: left;    
} 

.overlay {
	background: rgba(131, 131, 131, 0.301);
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
}

.left img, .right img {
    height: 12.62vh;
    width:  9.44vw;
    position: relative;
    left: -1.025vw;
}

.left img {
    top:0vh;
}

.image {
    position: relative;
    overflow: hidden;
}

.center .image{
    height: 13.26vh;
    width: 19.3vw;
}

.center .image img{
    position: absolute;
    height: 25.56vh;
    width: 19vw;
    overflow: hidden;  
    top:-5.6vh; /*offset*/ 
}


/*sovrascrivo .center*/
.center {
    margin:0 1.8vh;
    width: 19.4vw;
}

/*sovrascrivo .right*/
.right {
    float: right;
}

/* footer*/
footer {
    /*background-color: #a500ff;*/
    height:5.6vh;
    position: relative;
}

.descr{
    font-size: 1.4vh;
    position: absolute;
    bottom: 2.3vh;
    left:50%;
    transform: translateX(-50%)
}

footer .descr span{
    color: red;    
}
    
