/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }

/*sfondo grigio*/
html {
    background-color: #232323;
}


body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.image{ 
    border-radius: 10px;
 }

/*struttura contenitore principale*/
.container {
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 610px;
    margin: 0 auto;
    padding: 0px 65px 2px 65px;
    
}


header img {

    height: 30px;

}

.navigation {
    line-height: 19px;    
}

.navigation a {
    margin-bottom: 1px solid;
    text-decoration: none;
    font-size: 7px;
    color:#939393;
}

.navigation a:hover {
    color:black;
    cursor: url(../img/cursor.cur) 16 16,auto;
}

header {
    /*background-color: #ef1beb; colore box header*/
    margin-bottom: 12px;
    height : 50px;
}

.first {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 12px;    
    height: 200px;
    }

.first .text {
    line-height: 15px;
    font-size: 12px;
    width:50%;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 15px;
    }

.first .text h6{
    font-size: 7px;
    font-weight: 100;
    }


main {
    /*background-color: #654aff; colore box main*/
    margin-bottom: .8%;
}

/*CLEARFIX*/
.clearfix::after { 
    /*background-color: #654aff;*/
    content: '';
    display: table;
    clear: both;    
}

.contenuto {
    font-size:10px; 
    /*background-color: #acc9ea;*/
    margin-bottom: 10px ;
    height : 35px;
    color:lightgray;
}
 
.contenuto h2 {
    color:black;
    line-height:15px;
} 


/*float*/
.left, .center, .right {
    color:#a1a1a1; /*colore colonne*/
    width: 95px;
    float: left;
    height: 210px;
    font-size: 7px;
} 

.overlay {
	background: rgba(131, 131, 131, 0.301);
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
}

.left img, .right img {
    width: 95px;
    height: 82px;
    
}
.image {
    position: relative;
    overflow: hidden;
}

.center .image{
    width: 264px;
    height: 83px;

       
}
.center .image img{
    width: 266px;
    height: 111px;
    overflow: hidden;  
    margin-top:-25px;  
}


/*sovrascrivo .center*/
.center {
    margin:0 10px;
    width: 265px;
}

/*sovrascrivo .right*/
.right {
    float: right;
}

/* footer*/
footer {
    /*background-color: #a500ff;*/
    height:35px;
    position: relative;
}

.descr{
    font-size: 9px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%)
}

footer .descr span{
    color: red;    
}
    