/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*sfondo grigio*/
html {
    background-color: #232323;
}


body {
    margin: auto;
    font-family: sans-serif;
}
.image{ 
    border-radius: 10px;
 }

/*struttura contenitore principale*/
.container {
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 610px;
    margin: 0 auto;
    padding: 14px 65px 2px 65px;
    
}


header img {
    height: 20px;

}

header div .navigation {
    margin-bottom: 1px solid;

}

header {
    background-color: #ef1beb;
    margin-bottom: 12px;
    height : 50px;
}

.first {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 12px;    
    height: 200px;
    }

main {
    background-color: #654aff;
    margin-bottom: .8%;
}

/*CLEARFIX*/
.clearfix::after { 
    background-color: #654aff;
    content: '';
    display: table;
    clear: both;    
}

.contenuto {
    font-size:10px; 
    background-color: #acc9ea;
    margin-bottom: 10px ;
    height : 35px;
}
 
.contenuto h2 , .contenuto h6{
    color:black;
    line-height:5px;
} 


/*float*/
.left, .center, .right {
    color:#a1a1a1;
    width: 95px;
    float: left;
    height: 210px;
} 

.overlay {
    background: rgba(0, 0, 0, 0.5);
}

.left img, .right img {
    width: 95px;
    height: 82px;
    
}
.image {
    overflow: hidden;
}

.center .image{
    width: 64vh;
    height: 6vw;
       
}
.center .image img{
    width: 266px;
    height: 111px;
    overflow: hidden;    
}


/*sovrascrivo .center*/
.center {
    margin:0 10px;
    width: 265px;
}

/*sovrascrivo .right*/
.right {
    float: right;
}

/* footer*/
footer {
    background-color: #a500ff;
    height:35px;
    position: relative;
}

.descr{
    font-size: 9px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%)
}
